.formulario {
  .botao {
    background-color: #ED91AD;
    border: none;
    border-radius: 10px;
    letter-spacing: 2.5px;
    color: white;
    text-transform: uppercase;
    width: 310px;
    height: 50px;
    margin-top: 15px;
  }

  .botao:hover {
    cursor: pointer;
  }

  label {
    padding-top: 10px;
    color: #3f3034;
    text-transform: uppercase;
  }

  input {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .combobox {
    width: 315px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    margin: 5px;
  }
}