.fundoModal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  &--ativo {
    backdrop-filter: blur(5px);
  }
}

.conteudoModal {
  z-index: 4;
  width: 500px;
  display: flex;
  background-color: #FCE4D8;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  flex-direction: column;
  padding: 15px 15px;
  box-shadow: rgb(209 209 209 / 52%) 4px 5px 3px 0px, rgb(150 150 150 / 20%) 0px -12px 30px, rgb(117 117 117 / 20%) 0px 4px 6px, rgb(181 181 181 / 20%) 0px 12px 13px, rgb(150 150 150 / 20%) 0px -3px 5px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    user-select: none;

    &__titulo {
      color: #58C0FF;
      text-align: center;
    }

    &__fechar {
      color: #ED91AD;
      font-size: 50px;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      position: absolute;
      right: 15px;
      top: 5px;
    }

    &__fechar:hover {
      cursor: pointer;
    }

  }

  &__body form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}