@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap%27');


/* width */
::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border: 10px solid rgba(0, 0, 0, 0);
  background: rgb(250, 235, 215);
  background-clip: padding-box;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 10px solid rgba(0, 0, 0, 0);
  background: rgb(200, 185, 165);
  background-clip: padding-box;
}